.modal-header
    h5.modal-title#exampleModalCenterTitle Sửa Thông Tin Tài Khoản
    button.close(type="button" data-dismiss="modal" aria-label="Close" aria-hidden="true")
        span ×
.modal-body
    form#editAccountForm(action=`${prefixAdmin}/account/edit/${account.phone}?_method=PATCH` method="post")
        .form-group
            label(for="phone")
                strong Số Điện Thoại:
            input.form-control(type="text" path="phone" value=account.phone readonly required)
        .form-group
            label(for="password")
                strong Mật Khẩu:
            input.form-control(type="text" path="password" value=account.password required)
        .form-group
            label(for="permission")
                strong Nhóm Quyền:
            select.form-control.mb-3(name="permission" path="permission" required)
                option(value="" disabled) -- Chọn nhóm quyền --
                each role in roleGroup
                    option(value=role.roleGroupId selected=role.roleGroupId == account.permission) #{role.roleGroupName}
        .form-group
            label(for="status")
                strong Trạng Thái:
            select.form-control(name="status" path="status" required)
                option(value="Active" selected=account.status == 'Active') Hoạt động
                option(value="Inactive" selected=account.status == 'Inactive') Ngừng hoạt động
.modal-footer
    button.btn.btn-outline-secondary(type="button" data-dismiss="modal") Đóng
    button.btn.btn-primary(type="submit" form="editAccountForm") Lưu Thay Đổi