extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .col-lg-12
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Danh Sách Tài Khoản
            .table-responsive.p-3
                table#dataTable.table.align-items-center.table-flush
                    thead.thead-light
                        tr
                            th Email
                            th Phân Quyền
                            th Trạng Thái
                            th Hoạt Động
                    tbody
                        each acc in accounts
                            tr.brand-item
                                td.align-middle #{acc.email}
                                td.align-middle #{acc.RoleGroup.roleGroupName}
                                td.align-middle
                                    if acc.status == 'Active'
                                        if (permission.includes("DANH_SACH_TAI_KHOAN_SUA"))
                                            a.change-status-account-link(href="javascript:void(0);" data-id=acc.email data-status=acc.status)
                                                span.badge.badge-success Hoạt động
                                        else
                                            span.badge.badge-success Hoạt động
                                    else
                                        if (permission.includes("DANH_SACH_TAI_KHOAN_SUA"))
                                            a.change-status-account-link(href="javascript:void(0);" data-id=acc.email data-status=acc.status)
                                                span.badge.badge-danger Ngừng hoạt động
                                        else
                                            span.badge.badge-danger Ngừng hoạt động
                                td.align-middle
                                    if (permission.includes("DANH_SACH_TAI_KHOAN_SUA"))
                                        a.btn.btn-sm.btn-danger.edit-account-btn.mr-1(href="javascript:void(0);" data-acc-email=acc.email data-toggle="modal" data-target="#EditModal") Sửa


    #EditModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content

