extends ../../../layouts/default.pug
include ../../../mixins/alert.pug
include ../../../mixins/currency.pug

block main
    +alert-error(3000)
    +alert-success(3000)

    .container-fluid#container-wrapper
        .col-lg-12
            .card.mb-4
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary Lịch Sử Phiếu Nhập
                    a.btn.btn-primary(href=`${prefixAdmin}/product/import/add`) + Tạo phiếu nhập
                .table-responsive.p-3
                    table.table.align-items-center.table-flush#dataTable
                        thead.thead-light
                            tr
                                th Mã Phiếu Nhập
                                th Nhân Viên Phụ Trách
                                th Ngày Nhập Hàng
                                th Tổng Tiền
                                th Hoạt Động
                        tbody
                            each imp in imports
                                tr.product-item
                                    td.align-middle= imp.importId
                                    td.align-middle= imp.Employee.fullName
                                    td.align-middle= moment(imp.importDate).format('DD/MM/YYYY')
                                    td.align-middle
                                        +formatCurrency(imp.importCost)
                                    td.align-middle
                                        a.btn.btn-sm.btn-dark(href=`${prefixAdmin}/product/import/detail/${imp.importId}`) Chi Tiết

        // Modal Logout
        #logoutModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Đăng xuất
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        p Bạn có muốn đăng xuất không?
                    .modal-footer
                        button.btn.btn-outline-primary(type="button" data-dismiss="modal") Không
                        a.btn.btn-primary(href=`${prefixAdmin}/logout`) Đăng xuất

        // Scroll to top
        a.scroll-to-top.rounded(href="#page-top")
            i.fas.fa-angle-up
