doctype html
html
  head
    meta(charset="UTF-8")
    title Đăng ký
    
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    )
    link(href="/css/register.css" rel="stylesheet")
    
    script.
      function checkPasswords() {
        var password = document.getElementsByName('password')[0].value;
        var repassword = document.getElementsByName('repassword')[0].value;
        var message = document.getElementById('password-message');
        
        if (password === '' || repassword === '' || password === repassword) {
          message.style.display = 'none';
        } else {
          message.style.display = 'block';
          message.innerText = 'Passwords do not match!';
        }
      }
  
  body
    .wrapper
      form#register-login(action="/AutoParts/account/register" method="post" data-oc-toggle="ajax")
        h2 Đăng ký
        
        .container_register
          .container_left
            .input-field
              input(type="text" name="fullName" required)
              label Nhập Họ và Tên
            
            .input-field
              input(type="text" name="address" required)
              label Nhập địa chỉ
            
            .input-field
              input(type="text" name="phone" required)
              label Nhập số điện thoại
          
          .container_right
            .input-field
              input(type="text" name="email" required)
              label Nhập email
            
            .input-field
              input(type="password" name="password" required oninput="checkPasswords()")
              label Nhập mật khẩu
            
            .input-field
              input(type="password" name="repassword" required oninput="checkPasswords()")
              label Nhập lại mật khẩu
        
        #password-message(style="color: red; display: none;")
        div #{message}
        
        button(type="submit") Đăng ký
        
        .register
          p Đã có tài khoản? 
            a(href="/AutoParts/account/login") Đăng nhập