.modal-header
    h5#exampleModalCenterTitle.modal-title Chi Tiết Khuyến Mãi
    button.close(type="button" data-dismiss="modal" aria-label="Close" aria-hidden="true")
        span &times;
.modal-body
    p
        strong Mã Khuyến Mãi: 
        | #{discount.discountId}
    p
        strong Mô Tả Khuyến Mãi: 
        | #{discount.discountDesc}
    p
        strong Phần Trăm Khuyến Mãi: 
        | #{discount.discountAmount}%
    p
        strong Số Tiền Tối Thiểu:
        - function formatPrice(data) {
        -   if (data === undefined || data === null) return '0';
        -   return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        - }

        span #{formatPrice(discount.minimumAmount)}₫ 
    p
        strong Số Lượng:  
        | #{discount.usageLimit}
    p
        strong Ngày Bắt Đầu: 
        span #{moment(discount.applyStartDate).format("DD/MM/YYYY")}
    p
        strong Ngày Kết Thúc: 
        span #{moment(discount.applyEndDate).format("DD/MM/YYYY")}
    p
        strong Trạng Thái: 
        if discount.status == 'Active'
            span.badge.badge-success Hoạt động
        else
            span.badge.badge-danger Ngừng hoạt động
.modal-footer
    button.btn.btn-outline-primary(type="button" data-dismiss="modal" aria-label="Close") Close