include ../../partials/header.pug

// Link to chat CSS file
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer")
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
link(rel="stylesheet", href="/css/chat.css")
link(href='/css/base.css', rel='stylesheet')


.container.mt-5.mb-5
  .row
    .col-md-8.offset-md-2
      .card.chat-card
        .card-header.text-white.d-flex.align-items-center(style="background-color: #ff6f61; border-color: #ff6f61;")
          i.fas.fa-headset.mr-2
          h5.mb-0 Hỗ trợ trực tuyến
        
        .card-body.p-0
          // Messages container
          #messages-container.chat-container
            if messages && messages.length > 0
              each message in messages
                div(class=message.senderType === 'customer' && message.userEmail === locals.user.email ? 'message message-outgoing' : 'message message-incoming')
                  .message-content
                    .message-text= message.content
                    .message-time= new Date(message.createdAt).toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})
            else
              .text-center.text-muted.chat-empty-state(style="background-color: #ff6f61; border-color: #ff6f61;")
                i.fas.fa-comments.fa-3x.mb-3
                p Chưa có tin nhắn. Hãy bắt đầu cuộc trò chuyện với chúng tôi!
          
          // Chat input
          .chat-input-container
            .d-flex
              input#message-input.form-control(type="text", placeholder="Nhập tin nhắn của bạn...", required)
              button#send-button.btn.btn-primary.ml-2(type="button" style="background-color: #ff6f61; border-color: #ff6f61;")
                i.fas.fa-paper-plane.mr-1
                span Gửi
          
          // Hidden fields for JavaScript
          input#chatRoomId(type="hidden", value=chatRoomId)
          input#userEmail(type="hidden", value=userEmail)

// Include Socket.IO client
script(src="/socket.io/socket.io.js") 

// Include custom chat client JS
script(src="/js/chat/client-chat.js")

include ../../partials/footer.pug