doctype html
html
  head
    meta(charset="UTF-8")
    title Tìm kiếm sản phẩm
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="/css/filterproduct.css")

  body
    include ../../partials/header.pug

    .container_filter
      .sidebar
        div
          h2
            strong Bộ lọc
        .filter-form
          .search-form
            if !keyword || keyword.length === 0
              h3 Nhập từ khóa để tìm kiếm
            else
              h3 Tìm kiếm theo từ khóa: "#{keyword}"
          .form-group
            label(for="brand") Hãng
            select#brand-filter.form-control( name="brand")
                if (!brand)
                  option(value="" selected) Tất cả
                each b in brands
                  if(b.brandId === brand)
                    option(value=b.brandId selected) #{b.brandName}
                  else
                    option(value=b.brandId) #{b.brandName}
          .form-group
            label(for="category") Loại hàng
            select#category-filter.form-control( name="category")
              if (!brand)
                option(value="" selected) Tất cả
              each gr in categories
                if gr.productGroupId == group
                  option(value=gr.productGroupId selected) #{gr.groupName}
                else
                  option(value=gr.productGroupId) #{gr.groupName}
      .content
        .list-card
          each product in products
            .card(style="width: 18rem;" data-brand=product.brandId data-category=product.productGroupId)
              a(href=`/AutoParts/product/detail?productId=${product.productId}`)
                img.card-img-top(src=product.imageUrls)
              .card-body
                h5.card-title #{product.productName}
                p.card-text #{product.description}
                p Giá bán: #{product.salePrice}đ

    script(src="/js/filterproduct.js")