extends ../../../layouts/default.pug
include ../../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert-success(3000)

    .col-lg-12
        .card.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Danh Sách Nhóm Quyền
                if (permission.includes("NHOM_QUYEN_THEM"))
                    a.btn.btn-primary(href=`${prefixAdmin}/role/add`) + Thêm nhóm quyền
            .table-responsive.p-3
                table#dataTable.table.align-items-center.table-flush
                    thead.thead-light
                        tr
                            th Mã Nhóm Quyền
                            th Tên Nhóm Quyền
                            th Mô Tả
                            th Trạng Thái
                            th Hoạt Động
                    tbody
                        each RG in roleGroups
                            tr.product-item
                                td.align-middle #{RG.roleGroupId}
                                td.align-middle #{RG.roleGroupName}
                                td.align-middle #{RG.description}
                                td.align-middle
                                    if RG.status == 'Active'
                                        if (permission.includes("NHOM_QUYEN_SUA"))
                                            a.change-status-role-link(href="javascript:void(0);" data-id=RG.roleGroupId data-status=RG.status)
                                                span.badge.badge-success Hoạt động
                                        else
                                            span.badge.badge-success Hoạt động
                                    else
                                        if (permission.includes("NHOM_QUYEN_SUA"))
                                            a.change-status-role-link(href="javascript:void(0);" data-id=RG.roleGroupId data-status=RG.status)
                                                span.badge.badge-danger Ngừng hoạt động
                                        else
                                            span.badge.badge-danger Ngừng hoạt động
                                td.align-middle
                                    if (permission.includes("NHOM_QUYEN_XOA"))
                                        a.btn.btn-sm.btn-danger.delete-roleGroup-btn.mr-1(href="javascript:void(0);" data-role-id=RG.roleGroupId data-toggle="modal" data-target="#DeleteModal") Xóa
                                    if (permission.includes("NHOM_QUYEN_SUA"))
                                        a.btn.btn-sm.btn-dark.edit-btn.mr-1(href="javascript:void(0);" data-role-id=RG.roleGroupId data-toggle="modal" data-target="#EditModal") Sửa
                                    if (permission.includes("NHOM_QUYEN_XEM"))
                                        a.btn.btn-sm.btn-dark.mr-1(href=`${prefixAdmin}/role/detail/${RG.roleGroupId}`) Xem

    #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#exampleModalLabelLogout Xóa nhóm quyền
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p Bạn chắc chắn muốn xóa nhóm quyền này không?
                .modal-footer
                    button.btn.btn-outline-primary(type="button" data-dismiss="modal") Không
                    button#delete-link.btn.btn-primary(type="button") Xóa

    #EditModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content

    form(
        action=""
        method="POST"
        id="delete-roleGroup-item"
    )